$dark-blue-intro-email:hsl(217, 28%, 15%) ;
$dark-blue-main:hsl(218, 28%, 13%);  //pricipal-background//
$dark-blue-footer: hsl(216, 53%, 9%);//footer-background//
$dark-blue-testimonials: hsl(219, 30%, 18%);
$cyan-blue: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);
 $raleway:  'Raleway', sans-serif;
 $open-sans: 'Open Sans', sans-serif;
 

 *{
   font-family: $open-sans;
 }
 .font-raleway {//Headings, Call-to-actions, Header Navigation//
   font-family: $raleway;
 }